.gen-container {
    width: 70%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid lightgray;
}

.gen-wrapper {
    width: 33.33%;
}

.gen-item {
    display: block;
    margin: 5px;
    padding: 5px;
    border-bottom: 2px solid rgb(140, 20, 20);
    text-align: center;
}
.gen-item img {
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
}

.gen-item:hover {
    background-color: rgb(224, 224, 224);
}