.make-container {
    width: 70%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid lightgray;
}

.make-wrapper {
    width: 25%;
}

.make-item {
    display: block;
    margin: 5px;
    padding: 5px;
    border-bottom: 2px solid rgb(140, 20, 20);
}

.make-item:hover {
    background-color: rgb(224, 224, 224);
}

.make-logo {
    max-width: 30%;
}